extends layout

block content
    header.registerhead.d-flex
        .container.align-bottom
            h1.mb-1.text-secondary Consistency
    .overlay
    .container
        .row
            p #{consistencyinfo}
