extends layout

block content
  header.registerhead.d-flex
    .container.align-bottom
      h1.mb-1.text-secondary Contact
  .overlay
   .container
      .row
        .col
          img(align='middle', src='img/contact_mail.png', width='100%')

      .row
        .col-sm
          div.shadow-lg.p-3.mb-5.bg-light.rounded
            h3 Mail
            p Not the preferred way for us to come in contact with You, but it works. Have a bit of patience, as we are not checking mail every hour. Just drop us a line
            if currency == "ETHO"
                a(href='mailto:admin@ethe1.org') admin@ether1.org.
            else
                a(href='mailto:contact@atheios.org') contact@atheios.org.
            p If You are in a rush, contact us rather on Discord. There You can find us everyday.
            p
      .container
      .row
        .col
            if currency == "ETHO"
                img(align='middle', src='images/ether1/contact_discord.png', width='100%')
            else
                img(align='middle', src='images/contact_discord.png', width='100%')
      .row
        .col-sm
          div.shadow-lg.p-3.mb-5.bg-light.rounded
            h3 Discord
            p Discord is our first choice of communication channel. Here You can interact with us directly, You cen directly communicate, comment and suggest items. For discord, You need to register, but it is free of charge.
            if currency =="ETHO"
                | Join us in the Ether-1 discord and visit the property subgroup:
                a(href='https://discord.gg/RA4AZx9') Ether-1 discord server
            else
                a(href='https://discord.gg/bT42cQF') Atheios discord server
                | Join us in the Atheios discord and visit the property subgroup:


