extends layout

block content
  header.registerhead.d-flex
    .container.align-bottom
      h1.mb-1.text-secondary Login
  .overlay
  .container
    form(method='POST', action='/login')
      #form-group
        label Username:
        input.form-control(name='username',type='text', autofocus, autocomplete='username')
      #form-group
        label Password:
        input.form-control(name='password',type='password' autocomplete='password')
      br
      input.btn.btn-primary(type='submit',value='Submit')
      p
      p Did You forgot Your password or username? No problem: Follow this
        a(href='reset', style='padding-left: 0.375em;')
          | link.


